# Project place file
/robeats-cs-scripts.rbxlx

# Roblox Studio lock files
/*.rbxlx.lock
/*.rbxl.lock

/*.rbxl

# Build outputs
/dist/
/robeats-cs-built.rbxl

# Aftman
/.aftman

# MacOS
.DS_Store

# VS Code
.vscode/settings.json

# Temporary files
*.tmp
*.temp